---
import { data } from "@data";
---

<section class="py-16 sm:py-20" >
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col lg:flex-row gap-16">
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:flex-grow">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Hi, I'm <span class="text-primary-700 dark:text-primary-300">{data.name}</span>
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
          </p>
        </div>
        <a
          href="/pricing"
          class="bg-secondary dark:bg-secondary hover:bg-secondary-700 dark:hover:bg-secondary-300 focus-visible:outline-secondary-600 dark:focus-visible:outline-secondary-400 dark:text-white-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-white transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Download CV
        </a>
      </div>
      <div class="flex flex-col items-center flex-shrink-0 lg:items-start">
        <img
          src="/assets/portfolio-picture.png"
          class="w-400 h-400 rounded-full shadow-lg transition-transform duration-300 hover:scale-105"
          alt={data.name}
        />
      </div>
    </div>
  </div>
</section>

<style>
  img:hover::after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
img:hover::after {
    opacity: 1;
}
</style>