---
import { type IProjectExperiences } from "@types";
import ScrollAnimationWrapper from '@components/common/ScrollAnimationWrapper.astro';

const { data } = Astro.props as IProjectExperiences;
---

{
    data.map((project) => (
        <div class="w-full mx-4">
            <ScrollAnimationWrapper>
                <div class="my-5">
                    <div class="flex justify-between items-center flex-wrap">
                        <h3 class="text-xl font-semibold">{project.name}</h3>
                    </div>
                    <p class="text-sm text-locationblue">{project.location}</p>
                    <ul class="mt-1 mx-4 list-inside">
                        {project.descriptions.map((item) => (
                            <li>{item}</li>
                        ))}
                    </ul>
                </div>
            </ScrollAnimationWrapper>
        </div>
    ))
}
